{% extends 'app/base.html' %}
{% load humanize %}
{% load static %}
{% block checkout_content %}
     <div class="row" style = 'width: 100%'>
		<div class="col-lg-6">
			<form method="post">
                {% csrf_token %}
                {{ shipping_form.as_p }}
                <button type="submit" class="btn btn-primary">Thanh Toan</button>
            </form>
			<div class="box-element" id="form-wrapper">
				<form id="form">
					
					
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><strong>{{ item.product.gia|floatformat:0|intcomma }} VND</strong></div>
					<div style="flex:1"><p>{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:  {{ order.get_cart_total|floatformat:0|intcomma }} VND</h5>
			</div>
		</div>
		
</form>
	</div>
{% endblock checkout_content %}